@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";



:root {
    font-size: 16px;
}

body {
    font-family: 'Jost', sans-serif;
    color: $gray;
}

.title {
    font-family: 'Cormorant', serif;
    font-size: 5rem;
    span {
        font-style: italic;
    }
}

.btn {
    color: $white;
    background-color: $orange;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto; 
}

.section-main {
    background-image: url('../img/bg-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    &-text {
        &__description {
            font-size: 1.12rem;
            line-height: 1.5;

        }
    }
}